@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

html { /* html=asterisk? */
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

/*-------------------- INDEX --------------------*/
.grid-containerbox {
    display: grid;
    grid-template-columns: 14.5vw 70vw 14.5vw;
    grid-template-rows: 14.5vh 150vh 14.5vh;
    grid-template-areas: 
    "header header header"
    "  .     main     .  "
    "footer footer footer";
    row-gap: 1rem;
}
/*-----------HEADER-----------*/
.grid-containerbox header {
    grid-area: header;
    display: grid;
    grid-template-columns: 14.5vw 70vw 14.5vw;
    grid-template-areas: ". header-content .";
    background-color: rgb(122, 175, 255);
    
}

.header-container {
    grid-area: header-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-containerbox nav {
    display: flex;
    height: 20%;
}

.nav-item {
    margin-left: 10px;
    width:100px;
    text-decoration: none;
    color: black;
}

/*-----------MAIN-----------*/
.grid-containerbox main {
    grid-area: main;
    text-align: center;
}

.first-content {
    height: 40%;
    margin-bottom: 7px;
}

.second-content {
    border-top: 0.5rem solid rgba(189, 238, 243, 0.479);
    height: 27%;
    margin-bottom: 7px;
}

.third-content {
    border-top: 0.5rem solid rgba(189, 238, 243, 0.479);
    height: 35%;
}

/*- SHOP NAME -*/
.main-container-1 {
    text-align: center;
    margin-top: 5rem;
}

.shopname {
    font-size: 7rem;
}

.shopname-1 {
    color: brown;
}

.shopname-2 {
    color: orange;
}

.shopname-3 {
    color: pink;
}

.shopname-sub {
    font-size: 2rem;
    color:rgba(19, 145, 159, 0.753)
}

.main-picture {
    width: 500px;
}

/*- INTRODUCTION OF PRODCUT + ABOUTUS -*/
.intro-name {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.intro-button {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}

.intro-button-a {
    text-decoration: none;
}

.intro-button-a:hover {
    text-decoration: underline;
}

/*- INTRODUCTION OF PRODUCT -*/
.intro-product {
    display: flex;
    justify-content: space-around;
}

.intro-product-item {
    width: 25%;
}


/*- INTRODUCTION OF ABOUTUS -*/
.intro-aboutus {
    margin: 2rem;
    overflow: hidden; /* Ensure photos fit within the parent element and adjust its height accordingly.*/
}

.intro-aboutus-img {
    width: 30%;
    margin-left: 2rem;
    float: right;
}

.intro-aboutus-text {
    font-size: 2rem;
}

/*-----------FOOTER-----------*/
.grid-containerbox footer {
    grid-area: footer;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    background-color: rgb(122, 175, 255);
}

.grid-containerbox .footer-item {
    margin-left: 10px;
}

.footer-shopname {
    font-weight: bold;
}

.footer-buttons,.footer-shopinfo {
    text-align: center;
}

.footer-button {
    text-decoration: none;
}

.footer-img {
    width: 20%;
}

/*-------------------- PRODUCT --------------------*/
.product-title {
    font-size: 4rem;
    margin: 1rem;
}

.product-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 3rem 3rem;
}

.product {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
}

#product-1 {
    grid-area: item1;
}

#product-2 {
    grid-area: item2;
}

#product-3 {
    grid-area: item3;
}

#product-4 {
    grid-area: item4;
}

#product-5 {
    grid-area: item5;
}

#product-6 {
    grid-area: item6;
}

.product-picture {
    width: 100%;
}

.product-text {
    width: 100%;
}

.product-name {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.product-price {
    margin-bottom: 1rem;
    font-size: 2rem;
}

/*-------------------- PAGE1 --------------------*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 24.3vw);
    grid-template-rows: 14.5vh repeat(3,32vh) 14.5vh;
    grid-template-areas: 
    "one one two three"
    "one one four four"
    "five six four four" 
    ;
    gap:1rem;
    margin: 0.3em;
}

.grid-item {
    border: 2px solid black;
}

.grid-item:nth-child(1) {
    grid-area: one;
}

.grid-item:nth-child(2) {
    grid-area: two;
}

.grid-item:nth-child(3) {
    grid-area: three;
}

.grid-item:nth-child(4) {
    grid-area: four;
}

.grid-item:nth-child(5) {
    grid-area: five;
}

.grid-item:nth-child(6) {
    grid-area: six;
}

.item-container {
    margin: 3% auto;
    width: 95%;
    height: 95%;
    text-align: center;
}

.sweet-picture {
    width:70%;
    height:70%;
}

/*-------------------- PAGE2 --------------------*/



/*---- MEDIA QUERY ----*/

/*--Tablet--*/
@media all and (min-width:768px) and (max-width:991px) {
    .grid-container {
        grid-template-columns: repeat(3, 32vw);
        grid-template-areas: 
        "one one two"
        "one one three"
        "four five six";    
    }

    .grid-containerbox {
        grid-template-columns: 99vw;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    .grid-containerbox header {
        grid-template-columns: 99vw;
        grid-template-areas: "header-content";
    }

    .header-container {
        padding:10px;
    }

} 

/*--Mobile--*/
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 99vw;
        grid-template-rows: repeat(6,32vh);
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six";    
    }

    .grid-containerbox {
        grid-template-columns: 99vw;
        grid-template-rows: 14.5vh 150vh 19vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    .grid-containerbox header {
        grid-template-columns: 99vw;
        grid-template-areas: "header-content";
    }

    .header-container {
        padding:10px;
    }

    .grid-containerbox footer {
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .grid-containerbox .footer-item {
        margin: 0px auto;
    }

    .nav-item {
        display: none;
    }

    .header-container nav {
        flex-direction: column;
        width: 80px;
        height: 50px;
        background-image: url('img/icon-menu.svg');
        background-size: cover;
        padding-top:100px;
    }

    .header-container nav:hover .nav-item {
        display:block;
        background-color: rgba(122, 175, 255, 0.5);;
    }
} 