* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { /* html=asterisk? */
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}


/*-- MENU --*/
.menu-container {
    display: flex;
    align-items: center;
    background-color: rgb(122, 175, 255);
    gap: 1.5rem;
}

.menu-icon {
    height: 7rem;
    margin-right: auto;
    margin-left: 1rem;
}

.menu-button {
    margin: 1rem;
}

/*-- HEADER --*/
header {
    padding: 2rem;
    border: 0.5rem solid red;
}

/*-- HOME MAIN --*/
.main-container {
    border: 0.5rem solid blue;
}

.main-container-2 {
    border: 0.5rem solid green;
}

/*-- PRODUCT --*/
.product-title {
    margin: 2rem;
}

.product-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 3rem 3rem;
}

.product {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
}

#product-1 {
    grid-area: item1;
}

#product-2 {
    grid-area: item2;
}

#product-3 {
    grid-area: item3;
}

#product-4 {
    grid-area: item4;
}

#product-5 {
    grid-area: item5;
}

#product-6 {
    grid-area: item6;
}

.product-picture {
    width: 100%;
}

.product-text {
    width: 100%;
}

.product-name {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.product-price {
    margin-bottom: 1rem;
    font-size: 2rem;
}


/*-- FOOTER --*/
.footer-container {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 3rem;
    background-color: rgb(122, 175, 255);
    gap: 1.5rem;
}

.product-grid {
    grid-template-areas:
    'item1 item1 item2 item3'
    'item1 item1 item6 item6'
    'item4 item5 item6 item6'
}
s
.product-name.name1,.product-name.name6 {
    font-size: 6rem;
}

.product-price.price1,.product-price.price6 {
    font-size: 4rem;
}

.product-explanation.ex1,.product-explanation.ex6 {
    font-size: 2.4rem;
}


/*-- Tablet --*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {
.product-grid {
    grid-template-areas:
    'item1 item1 item2'
    'item1 item1 item3'
    'item4 item5 item6'
}

.product-name.name1 {
    font-size: 6rem;
}

.product-price.price1 {
    font-size: 4rem;
}

.product-explanation.ex1 {
    font-size: 2.4rem;
}

}

/*----- PAGE1 -----*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 24.3vw);
    grid-template-rows: repeat(3,32vh);
    grid-template-areas: 
    "one one two three"
    "one one four four"
    "five six four four" 
    ;
    gap:1rem;
    margin: 0.3em;
}

.grid-item {
    border: 2px solid black;
}

.grid-item:nth-child(1) {
    grid-area: one;
}

.grid-item:nth-child(2) {
    grid-area: two;
}

.grid-item:nth-child(3) {
    grid-area: three;
}

.grid-item:nth-child(4) {
    grid-area: four;
}

.grid-item:nth-child(5) {
    grid-area: five;
}

.grid-item:nth-child(6) {
    grid-area: six;
}

.item-container {
    margin: 3% auto;
    width: 95%;
    height: 95%;
    text-align: center;
}

.sweet-picture {
    width:70%;
    height:70%;
}

@media all and (min-width:768px) and (max-width:991px) {
    .grid-container {
        grid-template-columns: repeat(3, 32vw);
        grid-template-areas: 
        "one one two"
        "one one three"
        "four five six";    
    }
} 

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 99vw;
        grid-template-rows: repeat(6,32vh);
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six";    
    }
} 